<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body class="container">
    <header>
      <%- include('../partials/header') %>
    </header>
    <main>
      <div class="jumbotron jumbotron-fluid bg-light text-center">
        <table class="table table-bordered">
            <thead>
                <tr>
                  <th style="text-align: center;">Name</th>
                  <th style="text-align: center;">Drunkness</th>
                </tr>
            </thead>
            <tbody>
                <% drinks.forEach(function(drink){%>
                <tr>
                  <td><%=drink.name %></td>
                  <td><%=drink.drunkness %></td>
                </tr>
                <%});%>
              </tbody>
          </table>
      </div>
    </main>
    <footer>
      <%- include('../partials/footer') %>
    </footer>
  </body>
</html>